/*图片秀*/

body {margin: 0;
    padding: 0;
    word-wrap: break-word;font: 12px/1.5 tahoma,arial,宋体,sans-serif;}

A {
    text-decoration: none;
    color: #444;
}

#Article img {
    vertical-align: middle;
}

#Article {
    background: url(../images/S0/cat_hot_bg.png) repeat-x left -38px;
    border: 1px solid #F8F1E0;
    zoom: 1;
    padding: 0 20px;
    overflow: hidden;
}


#Article H1 {
    color: #000;
    font: 800 26px/30px "宋体",arial;
    margin-bottom: 6px;
    text-align: center;
    padding: 16px 0 8px;
    border-bottom: 1px solid #e5e5e5;
}

#Article H1 SPAN {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: #999;
}

 #Article .tool {
    position: relative;
    height: 35px;
    padding-top: 6px;
}

 .tool .up,.tool .next{
    background: url(../images/S0/up-next.png) no-repeat;
    height: 27px;
    line-height: 27px;
    width: 31px;
    margin-right: 10px;
    overflow: hidden;
}
.tool .up ,.tool .next{
    zoom: 1;
    display: inline;
}
.tool .up SPAN,.tool .next span {
    visibility: hidden;
}

#Article .tool .next {
    background-position: -78px top;
}
#Article .tool .stat {
    color: #999;
}

#Article .Article-Tool {
    position: absolute;
    right: 0px;
    border: none;
    background: none;
    font-size: 12px;
    font-weight: normal;
}
.Article-Tool {
    border: 1px solid #F8F1E0;
    position: relative;
    top: -1px;
    text-align: right;
    padding: 8px;
    vertical-align: middle;
    height: 15px;
    background-color: #f4f8fd;
}




#Article .big-pic {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #ededed;
    background-color: #fafcfe;
    position: relative;
}
#Article .big-pic #big-pic {
    display: table-cell;
    vertical-align: middle;
    display: block;
    overflow: hidden;
    font-size: 480px;
    width: 896px;
    height: 650px;
}

#Article .big-pic .max {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #FFF url(../images/S0/max.png) no-repeat 5px center;
    z-index: 101;
    padding: 5px 5px 5px 20px;
}
.photo_prev {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    z-index: 100;
}
.photo_next {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    z-index: 100;
}

.photo_prev A,.photo_next A  {
    background-image: url(../images/blank.gif);
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
}

.photo_prev A {
    cursor: url(images/S0/prev.cur), auto;
}
.photo_next A {
    cursor: url(images/S0/next.cur), auto;
}
#Article .cont LI.on .img-wrap {
    border: 2px solid #ffb017;
}


#Article .list-pic {
    padding: 22px 0 16px;
    height: 100px;
}
#Article .text {
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    padding: 8px 10px;
    zoom: 1;
    margin-bottom: 20px;
}

#Article .list-pic .pre {
    left: -8px;
    top: -3px;
    margin-right: 14px;
}
#Article .list-pic .pre {
    float: left;
    display: block;
    position: relative;
    background: url(../images/S0/pic_bg.png) no-repeat;
    width: 110px;
    height: 86px;
    text-align: center;
}
#Article .list-pic .pre .img-wrap {
    width: 102px;
    height: 72px;
    border: none;
    padding: 4px 0 8px;
}

.img-wrap {
    border: 1px solid #eee;
    text-align: center;
    overflow: hidden;
}
#Article .pre-bnt {
    background: url(../images/S0/big-btn.png) no-repeat;
    display: block;
    width: 17px;
    height: 69px;
    float: left;
}

#Article .pre-bnt {
    margin-top: 3px;

    cursor: pointer;
}

#Article .pre-bnt SPAN {
    background: url(../images/S0/big-btn.png) no-repeat;
    display: block;
    width: 17px;
    height: 69px;
    float: left;
}
#Article .pre-bnt SPAN {
    background-position: -30px top;
}
#Article .next-bnt {
    background: url(../images/S0/big-btn.png) no-repeat;
    display: block;
    width: 17px;
    height: 69px;
    float: left;
}
#Article .next-bnt SPAN {
    background: url(../images/S0/big-btn.png) no-repeat;
    display: block;
    width: 17px;
    height: 69px;
    float: left;
}
#Article .next-bnt {
    margin-top: 3px;
    cursor: pointer;
}

#Article .next-bnt SPAN {
    background-position: -55px top;
}


#Article .cont {
    overflow: hidden;
    float: left;
    width: 616px;
    height: 80px;
}
UL {
    list-style: none;
}
UL {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
#Article .cont LI {
    float: left;
    width: 123px;
    text-align: center;
    display: block;
}
LI {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
LI {
    list-style: none;
}


#Article .next-bnt {
    background: url(../images/S0/big-btn.png) no-repeat;
    display: block;
    width: 17px;
    height: 69px;
    float: left;
}

#Article .next-bnt {
    margin-top: 3px;

    cursor: pointer;
}

#Article .list-pic .next {
    right: -8px;
    float: right;
    bottom: -2px;
}
#Article .list-pic .next {
    right: -8px;
    float: right;
    top: -3px;
}
#Article .list-pic .next {
    float: left;
    display: block;
    position: relative;
    background: url(../images/S0/pic_bg.png) no-repeat;
    width: 110px;
    height: 86px;
    text-align: center;
}
#Article .text {
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    padding: 8px 10px;
    zoom: 1;
    margin-bottom: 20px;
}
#endSelect {
    top: 290px;
    left: 333px;
    position: absolute;
    width: 230px;
    height: 71px;
    border: 1px solid #8a8a8a;
    display: none;
    z-index: 200;
}

#endSelect #endSelClose {
    background: url(../images/S0/big-btn.png) no-repeat;
}
#endSelect #endSelClose {
    background-position: 0px -217px;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    width: 11px;
    height: 11px;
    overflow: hidden;
    z-index: 2;
}
#endSelect .bg {
    height: 100%;
    width: 100%;
    background: #000;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
}

#endSelect .E_Cont {
    position: absolute;
    top: 10px;
    left: 26px;
    color: #fff;
    font-size: 14px;
}
#endSelect .E_Cont P {
    padding: 4px 0;
    zoom: 1;
    overflow: hidden;
}
P {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

#rePlayBut {
    float: left;
    width: 69px;
    height: 23px;
    background-position: 0px -167px;
}
#rePlayBut {
    background: url(../images/S0/big-btn.png) no-repeat;
}
#nextPicsBut {
    float: left;
    width: 97px;
    height: 23px;
    background-position: -100px -167px;
    margin-left: 10px;
}
#nextPicsBut {
    background: url(../images/S0/big-btn.png) no-repeat;
}

