body {
    font: 12px/1.5 tahoma,arial,宋体,sans-serif;
    color: #444;
    font-size: 9pt;
    line-height: 21px;
    color: #444;
    background: #ffffff url(../images/body-bg.png) repeat-y center;
}

html, body, div, hr, span, object, iframe, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {
margin: 0;
padding: 0;
border: 0;
}
a:link {text-decoration:none;color: #a2362a;}    /* 未被访问的链接 */
a:visited {text-decoration:none;} /* 已被访问的链接 */
a:hover {font-weight:700;}   /* 鼠标指针移动到链接上 */
a:active {}  /* 正在被点击的链接 */

H5 {
    font-size: 14px;
}
.clear { clear:both;}

.main {	margin-right: auto; margin-left: auto; width:960px;}

/*sitemaster*/

#top {
   	float:right;height:33px; line-height:33px;
}
#head {
    background:url('../images/head.gif') no-repeat;height:108px;
    background-position: center;
}


/*menu*/
#menu{
	height: 33px;
	list-style: none;
	padding: 0;
	text-align: left;
    background: url(../images/nav.png) repeat-x;
    background-position: left -65px;
}
.item{
	float:left;
	font-size: 14px;
	line-height: 33px;
	padding: 0 28px 0 0;
}

.item a:link{
    color:#fff;
	font-weight:700;
}
.item a:visited {color:#ffffff}

/*index*/
.box {
    border: 1px solid #F8F1E0;
    zoom: 1;
    overflow: auto;
    padding-bottom: 10px;
}

.box h5.title-2, .box h6.title-2 {
    background-position: right -100px;
}
.box h5, .box h6 {
    background: url(../images/title.png) no-repeat right top;
    color: #8c6635;
    height: 26px;
    margin-top:0px;
    margin-bottom: 10px;
    line-height: 26px;
    padding-left: 10px;
    border-bottom: 1px solid #F8F1E0;
    position: relative;

}

#col_left {
    width: 700px;
    margin-right: 10px;
        float: left;
}

#col_auto {
    overflow: hidden;
    _zoom: 1;
    _float: left;
}
#posen {}
#po_pt img{
 margin:5px;
}

#news {
    float:left;
    margin-right:10px;
    width:49%;
}
#news2 {
    float:left;
    width:49%;
}

/*jQuery+CSS实现的图片滚动效果*/

.demo{width: 657px;position: relative;}
.bx_wrap {margin-left: 18px; margin-top:18px}
.bx_wrap ul img { padding: 4px;background: #fff;border: 1px solid #ccc;display: block;margin: 0 auto; }
.bx_wrap ul li{text-align:center}
.bx_wrap ul li a:hover{text-decoration:none; color:#f30}
.bx_wrap a.prev {width:20px;height:24px;line-height:24px;outline-style:none;outline-width: 0;position:absolute; top:99px; left:-2px; text-indent:-999em; background: url(../images/arr_left.gif) no-repeat;}
.bx_wrap a.next {width:20px;height:24px;line-height:24px; left:626px;position: absolute;top:99px; text-indent:-999em; background:url(../images/arr_right.gif) no-repeat;}




/*slider*/
.cycle-boder{
	margin-left:auto;margin-right:auto;
	border: 1px solid #e2dfd5;
	height: 290px;
	text-align: center;
	width: 590px;
}

.cycle-slideshow {
	margin-left:auto;margin-right:auto;margin-top:7px;
	height: 283px;
	width: 575px;
}

.slider{
	position: relative;
	padding: initial;
}

.slider, .slider:after {
	width: 657px;
}
.slider:after {
	
background: url(../images/home_slider/slider-shadow.png) no-repeat bottom center;
content: " ";
display: block;
height: 17px;
overflow: visible;
}

.slider .prev {
background: url(../images/home_slider/arrow-prev.png) no-repeat center center;
left: 0;
}

.slider .next, .slider .prev {
height: 34px;
position: absolute;
top: 137px;
width: 20px;
}
.slider .next {
background: url(../images/home_slider/arrow-next.png) no-repeat center center;
right: 0;
}


/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img { 
    /* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}

/* pager */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}

/*slider*/



